.raptor-text{
    
    color: rgb(243, 27, 27);
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   }

   .intro-raptor {
    font-size: 18px;
    color: #c9cc00;
    font-weight: bolder;
    text-align: center;
   
    background-color: #272525;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


    .key-c {
        font-size: 100px;
        color: rgb(245, 64, 100);
    text-shadow: #272525;
        font-style: oblique;
        font-size: 60px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .point-r{
        font-size: 30px;
        font-weight: bold;
        color: rgb(220, 127, 20);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .about-point{
        font-size: 20px;
        color: rgb(13, 172, 27);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .padding-line{
        background-color: #070707;
        padding: 30px;

    }

    .white-line{

        background-color: #fffefe;
        padding: 10px;

    }


